/*
	MAGIC TEMPLATE
	// DAMIAN SZEWCZYK
	// WWW.DAMIANSZEWCZYK.PL
	WSZELKIE PRAWA ZASTRZEŻONE
*/

a {
	color: #2A3333;
	text-decoration: none;
}

a:hover {
	color: #555;
	text-decoration: underline;
}

body {
	font-family: Arial;
	font-size: 12px;
	color: #252729;
	text-align: center;
	background: url(../images/bg_body.png) repeat-x;
}

#container {
	width: 920px;
	margin: 0 auto;
	text-align: left;
}

img {
	border: none;
}

#header_logo {
	float: left;
	margin: 10px 0px;
	width: 100%;
	height: 60px;
}

#header_menu {
	float: left;
	margin-top: 15px;
}

#header_menu ul {
	list-style: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
}

#header_menu li {
	display: block;
	float: left;
	/*background: url(../images/menu_separator.png) no-repeat left;*/
}

#header_menu a {
	padding: 8px 0px 8px 0px;
	margin: 0px 30px 0px 0px;
	color: #ffffff;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 13px;
}

#header_menu a:hover {
	color: #cccccc;
}

#header_main {
	width: 900px;
	height: 350px;
	margin-top: 30px;
	float: left;
	border: 1px solid #eee;
	padding: 10px;
}

#header_main_text {
	padding: 5px 10px 5px 10px;
	float: left;
	text-shadow: #000 0px 1px 0px;
	margin-top: 276px;
	background: url(../images/bg_text.png);
}

#header_main_text h2 {
	color: #feae31;
}

#header_main_text p {
	color: #ffffff;
	line-height: 20px;
}

#header_main_text a {
	color: #feae31;
	text-decoration: none;
	padding-left: 5px;
}

#header_main_text a:hover {
	text-decoration: underline;
}

#header_main_image {
	float: left;
	background: url(../images/bg_header.png) no-repeat;
	width: 100%;
	height: 100%;
}

#boxy {
	margin-top: 30px;
	float: left;
	line-height: 18px;
}

#boxy a {
	padding: 5px;
}

#boxy a:hover, #footer a {
	background: #2A3333;
	color: #ddd;
}

#boxy_box_1 {
	width: 260px;
	float: left;
	background: url(../images/icon_info.png) no-repeat 0cm 0.2cm;
	padding: 0px 0px 0px 40px;
}

#boxy_box_2 {
	width: 270px;
	float: left;
	background: url(../images/icon_book.png) no-repeat 0cm 0.2cm;
	padding: 0px 0px 0px 40px;
}

#boxy_box_3 {
	width: 270px;
	float: left;
	background: url(../images/icon_notes.png) no-repeat 0cm 0.2cm;
	padding: 0px 0px 0px 40px;
}

#boxy_content {
	width: 620px;
	float: left;
	padding: 10px;
	line-height: 20px;
}

#footer {
	width: 915px;
	float: left;
	margin-top: 30px;
	background: url(../images/bg_footer.png) repeat-x;
	padding-left: 5px;
	color: #ddd;
}
	